.banner {
    margin-left: 80PX;
    margin-top: 60px;
    position: absolute;
    width: 1400px; 
    height: 200px; 
    background: #000000;
    mix-blend-mode: darken;
    border-radius: 25px;
   
   

   
    img{

        opacity: 0.6;
        width: 1400px;
        object-fit: cover; 
        height: 200px; 
        border-radius: 25px;
       
        
       
    }
    h1{
        position: absolute;
        color:$color-2;
        font-size: 45px;
        font-weight: 500;
       margin-left: 25%;
       margin-top: -140px;
        
    }    

}
