.banner {
    margin-left: 80PX;
    margin-top: 100px;
    width: 1400px;
    margin-top: 40px;
    background:  url(../../assets/IMG.png) center/cover;
    border-radius: 25px;
    height: 200px;
    border: 2px solid $color-2;
    position: absolute;
   
    img{
      
        object-fit: cover; 
        height: 200px; 
       
    }
       
    h1{
        color:$white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        
    }
}