
 a{ text-decoration: none;
  list-style-type: none;
 
 
   
.card {



 height: 340px; 
  width: 95%;



 
    img {
      border-radius: 10px;
      height: 340px; 
      max-width: 99%;
      object-fit: cover;
    } 
    h2{
        color:$white;
        font-size: 18px;
        margin-top: -60px;  
        padding-left: 10px;
     
    }
} 
}
@media screen and (min-width:375px) and (max-width:809px){
  a{
  .card {

 margin-left: 8px;

}
img{
  min-width: 99%;
}

  }
}
@media screen and (min-width:810px) and (max-width:1280px){

  a{ 
   .card {
  margin-top: 20px;
  } 
  img{
    min-width: 99%;
  }
  }
}

