
.div-open{
    margin-top: 40px;
    margin-right: 40px; 

}
    .drop-open{
        display: flex;
        justify-content: space-between;
     
        height: 60px;
         background-color: $color-1;
         border-radius: 10px;
        
      
        h2{
            color: $white;
            font-size: 20px;
            font-weight: 500;
            padding-top: 15px;
            padding-left: 15px;
        }
        button{
           
           margin-right: 20px;
            background-color: $color-1; 
            border: 0;
    
        }
        img{
             object-fit: cover;
             border: 0;
             width:25px;
             height:15px;
             margin-right: 20px;
             background-color: $color-1; 
    
    
        }
    }
    .drop-down{
        background-color: $color-2;
        border-radius: 0px 0px 10px 10px;
        padding-top: 20px;
        text-align:start;
        padding-left: 20px;
        height: 160px;
      
        ul{
            color: $color-1;
            padding-top: 40px;
           width: 200px;
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            font-size: 18x;
          
     
     }
       
        span{
       
            color: $color-1;
            font-size: 18px; 
          
           
        }
    }
  
   
    .drop-close{
       
      
        margin-top: 40px;
        @include flex;
        height: 60px;
         background-color: $color-1;
         border-radius: 10px;
         margin-right: 40px;
      
     
        h2{
            color: $white;
            font-size: 20px;
            font-weight: 500;
            padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
        }
        button{
           
           margin-right: 20px;
            background-color: $color-1; 
            border: 0;
    
        }
        img{
             object-fit: cover;
             border: 0;
             width:25px;
             height:15px;
             margin-right: 20px;
             background-color: $color-1; 
    
    
        }
    }
    .flex-drop{
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        width: 1200px;
      
         margin-left: 11%;
      
    }
  
   



