.erreur{
    margin-left: 5%;
  
    margin-top: 120px;
  
    border: 0;
    margin-left: 500px;
    
    img {
      height: 200px; 
      width: 550px;

  }

}
.erreur-p{
 
  text-align: center;
    color: $color-1;
    font-size: 25px;
  
    
  }
.erreur-link{
   
    text-align: center;
    color: $color-1;
    font-size: 20px;
    margin-top: -40px;
    
}