.erreur{
    margin-left: 5%;
  
    margin-top: 120px;
  
    border: 0;
    margin-left: 500px;
    
    img {
      height: 200px; 
      width: 550px;

  }

}
.erreur-p{
 
  text-align: center;
    color: $color-1;
    font-size: 25px;
  
    
  }
.erreur-link{
   
    text-align: center;
    color: $color-1;
    font-size: 20px;
    margin-top: -40px;
    text-decoration: underline;
    
}
@media screen and (min-width: 375px)  and (max-width:809px)   {
  .erreur{
    margin-left: 13%;
  
    margin-top: 200px;
  
    border: 0;
   
    
    img {
      height: 100px; 
      width: 85%;

  }

}
.erreur-p{
 margin-top: -80px;
    font-size: 20px;
  
    
  }
.erreur-link{
   

    font-size: 18px;
    margin-top: 40px;
    
}
}
@media screen and (min-width:810px) and (max-width:1280px){


  .erreur{
    margin-left: 10%;
    margin-top: 200px;
    border: 0;
   
    
    img {
      height: 140px; 
      width: 85%;

  }

}
.erreur-p{
 margin-top: -60px;
    font-size: 23px;
  
    
  }
.erreur-link{
  margin-top: 100PX;
    font-size: 20px;
   
}

}