.footer {
    margin-left: 80px;
    width: 1400px;
    margin-top: 40px;
    background-color: $color-3;
    border: 0;
    height: 200px;
  }
  h1{
    color: $white;
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
  }

.footer-container{
    background-image: url(../../assets/LOGOF.png);
     width: 123px;
     height: 40px; 

   
     
   
    img {
      
        width: 123px;
        border: 0px;
  
}
}