.footer {
    margin-left: 80px;
    width: 1400px;
    margin-top: 670px;
    background-color: $color-3;
    border: 0;
    height: 200px;
  }
  p{
    color: $white;
    font-size: 20px;
    text-align: center;
    padding-top: 140px;
  }

.footer-container{
  
 
    img {
      height: 35px;
      width: 120px;
   position: absolute;
     margin-top: 60px;
     margin-left: 40%;
  
}
}