.footer {
  margin-left: 5%;
    width: 90%;
    margin-top: 40px;
    background-color: $color-3;
    border: 0;
    height: 200px;
 
  }
  p{
    color: $white;
    font-size: 20px;
    text-align: center;
    padding-top: 140px;
  }

.footer-container{
  
 
    img {
      height: 35px;
      width: 120px;
   position: absolute;
     margin-top: 60px;
     margin-left: 40%;
  
}
}
@media screen and (min-width: 320px)and (max-width:767px) {
  .footer {
    margin-left: 5%;
    width: 90%;
    margin-top: -40px;
    height: 160px;
  }
  p{
    font-size: 14px;
    text-align: center;
    padding-top: 110px;
  }

.footer-container{
    img {
      height: 35px;
      width: 110px;
     margin-top: 50px;
 margin-left: 30%;
  
}
}
}
@media screen and (min-width:768px) and (max-width:1080px){


  p{
    font-size: 14px;
    text-align: center;
    padding-top: 110px;
  }

.footer-container{
    img {
      height: 40px;
      width: 130px;
     margin-top: 50px;
 margin-left: 38%;
  
}
}

}