.lightbox{
display: flex;
margin-left: 120px;
}
.lightbox-image{
    width: 1360px;
    height: 400px;
    object-fit: cover;
    margin-top: 50PX;
    margin-left: 0PX;
    border-radius: 25PX;
    border: 2px solid $color-2;
  
    }
.next{
width: 40px;
height: 60px;
  margin-left: -80px; 
color: $white;
margin-top: 220PX;
  position: relative;
}
.previous{
   
margin-right: -80px;
    margin-top: 220PX;
    color: $white;
    position: relative;
    width: 40px;
    height: 60px;

}
.flex-img-number{
    display: flex;
    flex-direction: column;
}
.img-number{
    font-size: 18px;
margin-left: 50%;
margin-top: -40PX;
color: $white;

}
@media screen and (min-width: 375px)  and (max-width:809){

    .lightbox-image{
        width: 100%;
        height: 300px;
        margin-left: 0PX;
     
        }
    .next{
    width: 25px;
    height: 35px;
      margin-left: 80%; 
     
      margin-top: 180px;
    }
    .previous{
       
    margin-left: 5%;
        margin-top: 180PX;
        width: 25px;
        height: 35px;
       
    } 
}
@media screen and (min-width:810px) and (max-width:1280px){
    
    .lightbox-image{
        width: 100%;
        height: 300px;
        margin-right: -100PX;
     
        }
        .next{
            width: 30px;
            height: 50px;
           margin-left: 35%;
              margin-top: 180px;
            }
            .previous{
               
                margin-RIGHT: -10PX;
                margin-top: 180PX;
                width: 30px;
                height: 50px;
              
            }
          
            .img-number{
          
            margin-left: 50%;
        
            
            }
  }
  