.lightbox{
margin-top: -20PX;
margin-left: 5%;
}
.lightbox-image{
    width: 95%;
    height: 420px;
    object-fit: cover;
    margin-top: 50PX;
    margin-left: 0PX;
    border-radius: 25PX;
    border: 2px solid $color-2;
  
    }
.next{
width: 50px;
height: 80px;
margin-left: 83%;
color: $white;
margin-top: -230PX;
  position: absolute;
}
.previous{ 
margin-left: 5%;
    margin-top: 220PX;
    color: $white;
    position: absolute;
    width: 50px;
    height: 80px;

}
.flex-img-number{
    display: flex;
    flex-direction: column;
}
.img-number{
    font-size: 18px;
margin-left: 45%;
margin-top: -40PX;
color: $white;

}
@media screen and (min-width: 320px)  and (max-width:767px){

    .lightbox-image{
        width: 95%;
        height: 300px;
       border-radius: 10PX;
     
        }
    .next{
    width: 25px;
    height: 35px;
      margin-left: 82%; 
     margin-top: -155px;
   
    }
    .previous{
       
    margin-left: 2%;
        margin-top: 180PX;
        width: 25px;
        height: 35px;
       
    } 
}
@media screen and (min-width:768px) and (max-width:1080px){
    
    .lightbox-image{
        width: 95%;
        height: 300px;
        }
        .next{
            width: 30px;
            height: 50px;
           margin-left: 82%;
             margin-top: -160PX;
            }
            .previous{
               
              margin-left: 5%;
                margin-top: 180PX;
                width: 30px;
                height: 50px;
              
            }
          
            .img-number{
          
            margin-left: 50%;
        
            
            }
  }
  