.div-logement{
display: flex;
justify-content: space-between;


}

.logement{
    h2{  
        margin-top: 60px;
        color: $color-1;
        font-size: 30px;
        font-weight: 500;
        margin-left: 80px;

    }
    h3{
        margin-top: 10px;
        color: $color-1;
        font-size: 22px;
        font-weight: 500;
        margin-left: 80px;
    }
}
.proprio-info{
    display: flex;
    margin-top: 60px;
    margin-right: 100px;
    h4{
        color: $color-1;
        font-size: 18px;
        width: 100px;
        font-weight: 500;
        margin-top: 10px;

    }
    img{
        border-radius: 50%;
        border: 2px solid $color-2;
        width: 80px;
        height: 80px;
       
     
  

    }
}
.flex-logement{
  
   display: flex;
   justify-content: space-between;
   margin-left: 80px; 
   margin-right: 60px;

 
 
}
.equip{
    width: 700px;
  
   
}
.desc{
    width: 700px;
   
   
}
.notation{
    margin-left: -40px;
   img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 20px;
   }
}
@media screen and (min-width: 375px)  and (max-width:809px){
    .div-logement{
        display: flex;
       flex-direction: column;
        
        
        }
        
        .logement{
            h2{  
              
                font-size: 25px;
                margin-left: 0px;
        
            }
            h3{
               
                font-size: 20px;
               
                margin-left: 0px;
            }
        }
        .proprio-info{
          
            margin-right: 0px;
            h4{
             
                font-size: 16px;
                width: 100px;
              
        
            }
            img{
              
                width: 80px;
                height: 80px;
             
          
        
            }
        }
        .flex-logement{
          
           display: flex;
          flex-direction: column;
           margin-left: 0px; 
           margin-right: 0px;
        
         
         
        }
        .equip{
            width: 100%px;
          
           
        }
        .desc{
            width: 100%;
           
           
        }
        .notation{
            color: $color-1;
        }
    }
    @media screen and (min-width:810px) and (max-width:1280px){

            
            .logement{
                h2{  
                font-size: 26px;
                margin-left: 0px;
                width: 70%;
            
                }
                h3{
                   
                    font-size: 20px;
                  
                    margin-left: 0px;
                }
            }
            .proprio-info{
               
                margin-right: 0px;
                h4{
                    color: $color-1;
                    font-size: 18px;
                    width: 80px;
                    font-weight: 500;
                    margin-top: 10px;
            
                }
                img{
                    border-radius: 50%;
                    border: 2px solid $color-2;
                    width: 80px;
                    height: 80px;
                }
            }
            .flex-logement{
              
               display: flex;
               flex-direction: column;
               margin-left: 0px; 
               margin-right: -20px;
            margin-bottom: 100PX;
             
             
            }
            .equip{
                width: 100%;
              
               
            }
            .desc{
                width: 100%;
               
               
            }
            .notation{
                margin-left: -40px;
               img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                margin-top: 20px;
               }
            }
      }
      









  
