.logo {
    margin-left: 5%;
    margin-top: 40px;
    border: 0;
    img {
      height: 48px; 
      width: 140px;
  }
}
@media screen and (min-width: 320px)and (max-width:767px) {
  .logo {
    margin-left: 5%;
    margin-bottom: -20px;
    img {
      height: 35px; 
      width: 120px;
  }
} 
}
@media screen and (min-width:768px) and (max-width:1080px){
  .logo {
    margin-left: 5%;
    margin-top: 20px;
   
 
    img {
      height: 40px; 
      width: 130px;
  }
} 
}

