.div-logement{
display: flex;
justify-content: space-between;
}

.logement{
    margin-left: 5%;
   
    h2{  
        margin-top: 60px;
        color: $color-1;
        font-size: 30px;
        font-weight: 500;
    

    }
    h3{
        margin-top: 10px;
        color: $color-1;
        font-size: 22px;
        font-weight: 500;
     
    }
}
.proprio-info{
    display: flex;
    margin-top: 60px;
   
  
    h4{
        color: $color-1;
        font-size: 18px;
        width: 100px;
        font-weight: 500;
        margin-top: 10px;
        

    }
    img{
        border-radius: 50%;
        border: 2px solid $color-2;
        width: 80px;
        height: 80px;
    }
}
.flex-logement{
   display: flex;
   justify-content: space-between;
   margin-left: 5%; 
   margin-right: 3%;
}
.equip{
    width: 95%;
  
   
}
.desc{
    width: 95%;
   
   
}
.notation{
margin-right: 80PX;
   img{
    width: 30px;
    height: 30px;
  margin-right: 5PX;
    margin-top: 20px;
   }
}
@media screen and (min-width: 320px)  and (max-width:767px){
    .div-logement{
        display: flex;
       flex-direction: column;
        }
        
        .logement{
            h2{  
              
                font-size: 20px;
           
        
            }
            h3{
               
                font-size: 18px;
               
            
            }
        }
        .proprio-info{
        margin-top: 30PX;
          margin-left: 57%;
       
            h4{
          
            
           margin-top: 15PX;
                font-size: 15px;
                width: 75px;
            }
            img{
             
                width: 70px;
                height: 70px;
             
          
        
            }
        }
        .flex-logement{
          margin-top: 40PX;
           display: flex;
          flex-direction: column; 
          margin-bottom: 80PX;
        }
        .equip{
            width: 100%;
          
           
        }
        .desc{
            width: 100%;
           
           
        }
      
        .notation{
            margin-left: 5%;
           margin-top: -60px;
            img{
            width: 18px;
            height: 18px;
        }
    }
    }
    @media screen and (min-width:768px) and (max-width:1080px){

            
            .logement{
                margin-top: -10PX;
                h2{  
                font-size: 26px;
                width: 70%;
            
                }
                h3{
                   
                    font-size: 20px;
                 
                }
            }
            .proprio-info{
                margin-top: 40PX;
            }

           
            .notation{
                margin-right: 40PX;
            margin-top: -10PX;
            }
      }
      









  
