.logo {
    margin-left: 5%;
 
    margin-top: 40px;

    border: 0;
  
    img {
      height: 48px; 
      width: 140px;
  }
}
@media screen and (min-width: 375px)and (max-width:809px) {
  .logo {
    margin-left: 0px;
    margin-top: 60px;
    img {
      height: 35px; 
      width: 120px;
  }
} 
}
