ul {
     @include flex;
    margin-right: 110px;
    margin-left: 75%; 
    margin-top: -40PX;
   

    a {
      text-decoration: none;
      padding: 0px;

      li {
        font-size: 24px;
        font-family: $font-1;
        color: $color-1;
        transition: 0.1s; 
        cursor: pointer;
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 1px;
        width: 0;
        background: $color-1;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
    
  }

  @media screen and (min-width: 375px) and (max-width:809px){
    ul {
   
  margin-right: 2%;
    margin-left: 50%; 
    margin-top: -25PX;
   
  

    a {
      
      li {
        font-size: 15px;
      
      }
    }
    }
  }
    

  
