ul {
    a {
      text-decoration: none;
      padding: 0px;
    }
    #accueil{
      font-size: 24px;
      font-family: $font-1;
      color: $color-1;
      transition: 0.1s; 
      cursor: pointer;
      margin-left: 72%;
      position: absolute;
     margin-top: -40px;
    } 
    #apropos {
      text-decoration: none;
      font-size: 24px;
      font-family: $font-1;
      color: $color-1;
      transition: 0.1s; 
      cursor: pointer;
      margin-left: 86%;
      margin-top: -40px;
      position: absolute;
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 1px;
        width: 0;
        background: $color-1;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
    
  }

  @media screen and (min-width: 320px) and (max-width:767px){
    ul {
    #accueil{
      font-size: 18px;
      margin-left: 48%;
      position: absolute;
     margin-top: -10px;
    } 
    #apropos {
      font-size: 18px;
      margin-left: 73%;
      position: absolute;
     margin-top: -10px;
    }
  }
  }
  @media screen and (min-width:768px) and (max-width:1080px){
   
    ul {
      #accueil{
        font-size: 22px;
        margin-left: 65%;
        position: absolute;
    margin-top: -30PX;
      } 
      #apropos {
        font-size: 22px;
        margin-left: 82%;
        position: absolute;
        margin-top: -30PX;
      }
  }
    
  }
  
